.icon-arrow_btn {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-plus_btn {
  width: 1em;
  height: 1em;
  fill: #37404D;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
